@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html,
body {
    height: 100%;
}

head,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Crimson Pro";
}

#contents {
    height: 100%;

    display: flex;
    flex-direction: column;
}

#content {
    height: 100%;

    flex-grow: 6;
}

#section_links {
    padding: 5px;

    background-color: chartreuse;

    flex-grow: 1;

    display: flex;
    flex-direction: row;
}

.section {
    padding: 5px;

    color: brown;
}

.section:hover {
    cursor: pointer;

    color: rgb(203, 161, 221);
    background-color: rgb(76, 30, 95);
}
