<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script type="text/javascript"
      src="https://unpkg.com/mermaid@11.3.0/dist/mermaid.min.js">
    </script>
    <script>
      $(document).ready(function() {
          mermaid.initialize({
              theme: 'dark'
          });
      });
    </script>
  </body>

</html>
